# VS Hidden Directories
.vs/

# VS build directories
Build/
Debug/
Release/
Libs/
ipch/


# VS files
*.sdf
*.suo
*.opensdf
*.ipch
*.orig
*.settings
*.db
*.opendb
*.pdb
*.exp
*.tlog
*.pch
*.idb
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
